html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Color Variables */
/*header*/
/*footer*/
/*content*/
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/Gentona-Book.html");
  src: url("../fonts/Gentona-Book.woff") format("woff"), url("../fonts/Gentona-Book.otf"), url("../fonts/Gentona-Book.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/Gentona-Medium.html");
  src: url("../fonts/Gentona-Medium.woff") format("woff"), url("../fonts/Gentona-Medium.otf"), url("../fonts/Gentona-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/Gentona-Light.eot");
  src: url("../fonts/Gentona-Light.woff") format("woff"), url("../fonts/Gentona-Light.otf"), url("../fonts/Gentona-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Gentona';
  src: url("../fonts/Gentona-SemiBold.eot");
  src: url("../fonts/Gentona-SemiBold.woff") format("woff"), url("../fonts/Gentona-SemiBold.ttf") format("truetype");
  font-weight: 600; }
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  font-size: 14px;
  font-family: 'Gentona';
  font-weight: 400; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }
  a:hover, a:focus, a:focus {
    text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none !important; }

.overlay-hide {
  display: none; }

/*Header */
.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease; }

header {
  transition: all 0.2s ease; }

header.ola-header .pull-left {
  float: left; }
header.ola-header .pull-right {
  float: right; }
header.ola-header .logo {
  width: 120px; }

.primary-header {
  background: #000000;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 13px;
  overflow: hidden; }
  .primary-header .logo {
    width: 80px; }
  .primary-header a {
    text-decoration: none; }
  .primary-header .ola-link {
    color: #CCE600; }
  .primary-header .primary-links .link-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.8); }
  .primary-header .primary-links .link-wrapper:last-child {
    border-right: 0;
    padding-right: 0; }
  .primary-header .primary-links a {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px; }
    .primary-header .primary-links a.active {
      color: #FFFFFF; }
    .primary-header .primary-links a:hover {
      color: #8EC44A; }
    .primary-header .primary-links a:last-child {
      padding-right: 0; }

.secondary-header {
  background: #FFFFFF;
  padding: 11px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  text-align: right;
  transition: all 0.2s ease;
  transform: translateY(0);
  z-index: 100;
  height: 65px;
  width: 100%; }
  .secondary-header a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
    .secondary-header a:focus {
      outline: none; }
  .secondary-header .menu-icon {
    padding: 7px 8px;
    float: left; }
    .secondary-header .menu-icon:hover, .secondary-header .menu-icon:focus, .secondary-header .menu-icon:active {
      background: rgba(0, 0, 0, 0.08); }
  .secondary-header .mb-logo {
    display: none; }
    .secondary-header .mb-logo .mb-logo-img {
      display: none; }
  .secondary-header .secondary-links a {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 11px 22px;
    vertical-align: middle;
    cursor: pointer;
    position: relative; }
    .secondary-header .secondary-links a:hover {
      color: #8EC44A; }
  .secondary-header .secondary-links .active-page {
    position: relative; }
  .secondary-header .secondary-links .active-page:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background: #CCE500;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }
  .secondary-header .secondary-links .active-line {
    position: absolute;
    width: 70px;
    height: 3px;
    background: #CCE500;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }
  .secondary-header .secondary-links .login-link {
    position: relative;
    font-weight: 400;
    background: #CCE500;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    margin-top: 2px; }
    .secondary-header .secondary-links .login-link:hover {
      background: #bdd400;
      color: black; }
    .secondary-header .secondary-links .login-link .mid-line {
      position: absolute;
      left: 0;
      height: 20px;
      background: rgba(155, 155, 155, 0.3);
      width: 1px;
      top: 0;
      bottom: 0;
      margin: auto; }
  .secondary-header .secondary-links .user-profile-link {
    padding: 0;
    margin-left: 22px; }
    .secondary-header .secondary-links .user-profile-link img {
      width: 38px;
      display: inline-block;
      vertical-align: middle; }

.sidebar_navigation {
  width: 280px;
  position: fixed;
  top: 0;
  left: -100%;
  background: #FFFFFF;
  height: 100%;
  z-index: 12;
  overflow-x: hidden;
  opacity: 1;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  white-space: nowrap;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }
  .sidebar_navigation .close_btn {
    width: 40px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    color: #333;
    float: left;
    cursor: pointer;
    text-align: center; }
    .sidebar_navigation .close_btn:hover, .sidebar_navigation .close_btn:focus, .sidebar_navigation .close_btn:active {
      background: rgba(0, 0, 0, 0.08); }
  .sidebar_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar_navigation li a {
    width: 100%;
    float: left;
    padding: 15px 20px;
    color: #4A4A4A;
    text-decoration: none;
    font-size: 14px; }
    .sidebar_navigation li a:hover {
      text-decoration: none;
      background: rgba(0, 0, 0, 0.1); }
    .sidebar_navigation li a:focus {
      outline: none; }

/*Footer*/
.xs-clearfix {
  display: none; }

footer {
  width: 100%;
  float: left;
  background: #393939;
  position: relative;
  z-index: 5; }

.footer-wrapper .copyright_info {
  display: block;
  width: 100%;
  text-align: right;
  color: #9B9B9B;
  font-weight: 300;
  padding: 40px 0 45px 20px;
  letter-spacing: 0.3px;
  margin: auto; }
.footer-wrapper .mid-line {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 1px;
  margin-top: 45px; }

.custom_footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0 0px 0;
  background: #393939;
  letter-spacing: 0.3px; }
  .custom_footer .footer_logo {
    width: 20%;
    float: left; }
    .custom_footer .footer_logo img {
      width: 80px; }
  .custom_footer .footer_links {
    width: 80%;
    float: left;
    font-weight: 300; }
    .custom_footer .footer_links .indiv_col {
      width: 20%;
      float: left; }
      .custom_footer .footer_links .indiv_col label {
        color: #FFFFFF;
        margin-bottom: 18px;
        display: block;
        font-weight: 400;
        font-size: 16px; }
      .custom_footer .footer_links .indiv_col ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      .custom_footer .footer_links .indiv_col li {
        display: block;
        margin-bottom: 20px; }
      .custom_footer .footer_links .indiv_col li:last-child {
        margin-bottom: 0; }
      .custom_footer .footer_links .indiv_col a {
        text-decoration: none;
        cursor: pointer;
        color: #9B9B9B;
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        font-size: 14px; }
      .custom_footer .footer_links .indiv_col a:hover {
        color: #8EC44A; }
  .custom_footer .app_download {
    width: 20%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 10px; }
    .custom_footer .app_download ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .custom_footer .app_download li {
      display: inline-block;
      vertical-align: middle;
      margin: 15px 0 0 0;
      width: 53px;
      height: 53px;
      text-align: center;
      position: relative; }
    .custom_footer .app_download li:first-child {
      margin-left: 0; }
    .custom_footer .app_download a {
      text-decoration: none;
      cursor: pointer;
      width: 53px;
      height: 53px;
      display: table-cell;
      border: 1px solid #393939;
      border-radius: 5px;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.1); }
      .custom_footer .app_download a img {
        width: 28px; }
    .custom_footer .app_download a:hover {
      background: rgba(255, 255, 255, 0.2); }

/* Jquery Tool Tip */
.jq-tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-size: 14px;
  z-index: 5;
  left: 0;
  bottom: 0; }

/* Bootstrap tool tip */
.tooltip-inner {
  font-family: 'Gentona';
  font-weight: 400;
  letter-spacing: 0.3px; }

/*Css Tool tip*/
.cus-tooltip {
  position: relative; }

.cus-tooltip .tooltiptext {
  visibility: hidden;
  min-width: 80px;
  background-color: rgba(61, 70, 77, 0.1);
  color: #141414;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%); }

.cus-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(61, 70, 77, 0.1) transparent; }

.cus-tooltip:hover .tooltiptext {
  visibility: visible; }

/*Ripple effect*/
.ripple {
  position: relative;
  overflow: hidden;
  z-index: 0; }
  .ripple:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s; }
  .ripple:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s; }

/*Mixins*/
/*helper*/
.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.show-xs {
  display: none !important; }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.30s;
  -moz-animation-delay: 0.30s;
  -o-animation-delay: 0.30s;
  animation-delay: 0.30s; }

.fadeIn {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  -o-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

/*keyframes*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes slide {
  from {
    transform: translateX(-25px); }
  to {
    transform: translateX(0px); } }
@-webkit-keyframes slide {
  from {
    transform: translateX(-25px); }
  to {
    transform: translateX(0px); } }
@-ms-keyframes slide {
  from {
    transform: translateX(-25px); }
  to {
    transform: translateX(0px); } }
@keyframes slide {
  from {
    transform: translateX(-25px); }
  to {
    transform: translateX(0px); } }
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -o-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slide-back {
  0% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(0); } }
@keyframes slide-front {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(30px); } }
@media only screen and (max-width: 768px) {
  /*header*/
  header .ola-header .logo {
    width: 100px; }

  header.ola-header .pull-left {
    width: 100%;
    position: relative; }

  .secondary-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 0;
    height: 50px; }
    .secondary-header .max-width {
      height: 100%; }
    .secondary-header .pull-left {
      height: 100%; }
    .secondary-header .menu-icon {
      position: absolute;
      padding: 12px 8px;
      z-index: 2;
      left: 0;
      top: 0;
      z-index: 2; }
      .secondary-header .menu-icon img {
        width: 24px;
        height: 24px;
        padding: 0 2px; }
    .secondary-header .mb-logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 70px;
      height: 28px;
      z-index: 2; }
      .secondary-header .mb-logo .mb-logo-img {
        display: inline-block;
        width: 70px;
        height: 28px; }

  /*footer*/
  .custom_footer {
    width: 100%;
    padding: 20px 16px 0 16px; }

  .custom_footer .footer_logo {
    width: 100%;
    padding-left: 0;
    text-align: center; }

  .custom_footer .footer_links {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 0; }

  .custom_footer .footer_links .indiv_col {
    width: 50%;
    margin-top: 20px; }

  .custom_footer .app_download {
    width: 100%;
    text-align: center;
    padding-bottom: 10px; }

  .custom_footer .footer_links .indiv_col label {
    margin-bottom: 15px; }

  .custom_footer .footer_links .indiv_col li {
    margin-bottom: 10px; }

  .custom_footer .footer_links .indiv_col li:last-child {
    margin-bottom: 0; }

  .custom_footer .app_download li {
    margin: 10px 0 5px 10px; }

  .custom_footer .copyright_info {
    font-size: 10px; }

  .xs-clearfix {
    display: block; }
    .xs-clearfix:before, .xs-clearfix:after {
      content: "";
      display: table; }
    .xs-clearfix:after {
      clear: both; }

  .footer-wrapper .copyright_info {
    padding: 20px;
    text-align: center; }

  .footer-wrapper .mid-line {
    margin-top: 20px; }

  .show-xs {
    display: block !important; }

  .hide-xs {
    display: none !important; } }
@media only screen and (min-width: 769px) and (max-width: 1100px) {
  /*footer*/
  .custom_footer .footer_logo {
    width: 20%;
    padding-left: 0; }

  .custom_footer .footer_links {
    width: 80%; }

  .custom_footer .app_download {
    width: 100%;
    text-align: center;
    padding-bottom: 10px; }

  .custom_footer .footer_links .indiv_col li:last-child {
    margin-bottom: 0; } }
@media only screen and (min-width: 769px) and (max-width: 1220px) {
  .custom_footer {
    width: 100%;
    padding: 40px 20px 0 20px; }

  .footer-wrapper .copyright_info {
    padding: 30px; } }
@media only screen and (min-width: 1101px) and (max-width: 1180px) {
  .custom_footer {
    width: 100%;
    padding: 40px 20px 0 20px; } }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  font-size: 14px;
  font-family: 'Gentona';
  background: #FFFFFF;
  font-weight: 400; }
  body header.ola-header .logo {
    height: 42px;
    width: 225px; }

.slick-track {
  margin: auto; }

.body-top-padding {
  padding-top: 99px; }

.max-width {
  max-width: 1200px;
  margin: auto; }

.top-banner {
  height: 620px;
  position: relative;
  transition: all 0.2s ease;
  transform: translateY(0); }
  .top-banner .btn-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative; }

.custom-carousel-wrapper .overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1; }
.custom-carousel-wrapper .overlay-left {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0.6;
  background-image: -webkit-linear-gradient(right, transparent 28%, #000000 77%);
  background-image: -o-linear-gradient(right, transparent 28%, #000000 77%);
  background-image: linear-gradient(to left, transparent 28%, #000000 77%);
  z-index: 2; }
.custom-carousel-wrapper .carousel-item {
  height: 620px;
  position: relative; }
.custom-carousel-wrapper .nearby-banner {
  background-image: url("../img/share-pass/landing-banner2.png");
  background-position: 0 60%; }
.custom-carousel-wrapper .banner {
  background-repeat: no-repeat;
  background-size: cover; }
.custom-carousel-wrapper .carousel-wrapper {
  height: 100%;
  position: relative; }
.custom-carousel-wrapper .carousel-content {
  position: absolute;
  top: 46%;
  left: 5px;
  letter-spacing: 0.5px;
  z-index: 5;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .custom-carousel-wrapper .carousel-content .heading {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .custom-carousel-wrapper .carousel-content .title {
    font-size: 48px;
    margin: 0 0 20px 0;
    font-weight: 600;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    line-height: 52px; }
  .custom-carousel-wrapper .carousel-content .mix-title {
    font-size: 48px;
    margin: 0 0 20px 0;
    font-weight: 400;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    line-height: 52px; }
    .custom-carousel-wrapper .carousel-content .mix-title h1 {
      font-weight: 600;
      font-size: 48px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top; }
  .custom-carousel-wrapper .carousel-content .sub-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 40px;
    margin-top: 25px; }
  .custom-carousel-wrapper .carousel-content .hash-tag {
    color: #CCE500;
    font-size: 24px;
    margin-bottom: 60px; }
  .custom-carousel-wrapper .carousel-content .book-btn {
    width: 250px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #CCE500;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin-right: 15px; }
    .custom-carousel-wrapper .carousel-content .book-btn:hover {
      background: #bdd400; }
    .custom-carousel-wrapper .carousel-content .book-btn:focus {
      outline: none; }
  .custom-carousel-wrapper .carousel-content .watch-btn {
    width: 185px;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0);
    height: 48px;
    line-height: 43px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin-left: 15px; }
    .custom-carousel-wrapper .carousel-content .watch-btn:hover {
      background: rgba(255, 255, 255, 0.2); }
    .custom-carousel-wrapper .carousel-content .watch-btn:focus {
      outline: none; }
    .custom-carousel-wrapper .carousel-content .watch-btn .triangle-icon {
      position: relative;
      top: 5px;
      margin-right: 8px; }

.section-container {
  letter-spacing: 0.3px; }
  .section-container .section-heading {
    font-size: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 5px;
    display: block; }
  .section-container .section-sub-heading {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.92);
    opacity: 0.9;
    display: block; }

/*share pass */
.share-pass-info-wrapper {
  padding: 60px 20px 60px 20px;
  text-align: center; }
  .share-pass-info-wrapper .section-container .section-heading {
    padding-bottom: 20px; }
  .share-pass-info-wrapper .section-container .section-sub-heading {
    max-width: 70%;
    line-height: 26px;
    text-align: center;
    margin: auto; }

.share-pass-features {
  padding: 60px 0;
  background: rgba(219, 224, 227, 0.1); }
  .share-pass-features .section-container {
    text-align: center; }
  .share-pass-features .wd-3 {
    width: 33.33%;
    float: left;
    padding: 0 20px; }
  .share-pass-features .features-row {
    padding-top: 80px;
    max-width: 100%;
    display: block;
    overflow: hidden; }
    .share-pass-features .features-row .img-holder {
      display: block;
      padding-bottom: 40px; }
      .share-pass-features .features-row .img-holder img {
        max-width: 300px;
        height: 135px;
        border-radius: 10px; }
    .share-pass-features .features-row .info {
      display: block;
      padding: 20px 20px 0 20px; }
      .share-pass-features .features-row .info .heading {
        font-size: 24px;
        font-weight: 400;
        color: #4A4A4A;
        margin-bottom: 10px;
        display: block; }
      .share-pass-features .features-row .info .msg {
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        opacity: 0.9;
        display: block;
        line-height: 24px;
        padding: 0 5px; }
  .share-pass-features .padding-left-0 {
    padding-left: 0 !important; }
  .share-pass-features .padding-right-0 {
    padding-right: 0 !important; }

.share-pass-login {
  background: #FFFFFF;
  padding: 60px 20px 60px 20px;
  overflow: hidden; }
  .share-pass-login .section-container .section-heading {
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 40px; }
  .share-pass-login .wd-80 {
    width: 85%;
    margin: auto; }
  .share-pass-login .wd-50 {
    width: 50%;
    float: left; }
  .share-pass-login .padding-left {
    padding-left: 20px; }
  .share-pass-login .padding-right {
    padding-right: 20px; }
  .share-pass-login .tab-list {
    width: 100%;
    display: block; }
    .share-pass-login .tab-list .tab {
      margin-top: 20px;
      opacity: 0.6;
      display: block;
      cursor: pointer;
      position: relative;
      padding-left: 30px;
      width: 100%;
      z-index: 1;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      min-height: 0; }
      .share-pass-login .tab-list .tab .tab_heading {
        font-size: 18px;
        font-weight: 400;
        color: #4A4A4A;
        display: block;
        cursor: pointer;
        padding-bottom: 10px;
        width: 100%;
        line-height: 26px; }
      .share-pass-login .tab-list .tab .tab_sub_content {
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        line-height: 24px;
        padding-right: 10px;
        cursor: pointer;
        display: none;
        width: 100%;
        min-height: 0; }
      .share-pass-login .tab-list .tab .tab_web_sub_content {
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        line-height: 24px;
        padding-right: 10px;
        cursor: pointer;
        display: none;
        width: 100%;
        min-height: 0; }
      .share-pass-login .tab-list .tab .link {
        color: #4990E2;
        z-index: 5;
        cursor: pointer;
        cursor: pointer; }
      .share-pass-login .tab-list .tab:hover {
        opacity: 1; }
    .share-pass-login .tab-list .tab:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #FFFFFF;
      display: block;
      border-radius: 50%;
      border: 5px solid #9B9B9B;
      left: -3px;
      margin: auto;
      top: 5px;
      z-index: 2; }
    .share-pass-login .tab-list li:not(:last-child) > .tab:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      display: block;
      margin: auto;
      left: 5px;
      top: 15px;
      background-color: transparent;
      background-image: url("../img/share-pass/dots.png");
      background-repeat: repeat-y; }
    .share-pass-login .tab-list .open {
      display: block !important; }
    .share-pass-login .tab-list .tab-active {
      opacity: 1 !important; }
    .share-pass-login .tab-list .tab-active:before {
      background: #CCE500 !important;
      display: block;
      border-radius: 50%;
      border: 5px solid #CCE500 !important; }
    .share-pass-login .tab-list .tab-web-active {
      opacity: 1 !important; }
    .share-pass-login .tab-list .tab-web-active:before {
      background: #CCE500 !important;
      display: block;
      border-radius: 50%;
      border: 5px solid #CCE500 !important; }
  .share-pass-login .top-space {
    padding-top: 60px; }
  .share-pass-login .tab-content-wrapper {
    position: absolute;
    top: 76px;
    right: 20px;
    z-index: 1;
    width: 254px;
    height: 450px;
    overflow: hidden; }
  .share-pass-login .position {
    position: relative;
    height: 600px;
    text-align: right;
    right: 40px; }
  .share-pass-login .phone-moc {
    height: 600px; }
  .share-pass-login .tab-content {
    text-align: right;
    opacity: 0;
    height: 0; }
    .share-pass-login .tab-content .img-holder img {
      max-width: 100%; }
  .share-pass-login .content-active {
    display: block !important;
    opacity: 1 !important;
    height: 100%; }
  .share-pass-login .web-content-active {
    display: block !important;
    opacity: 1 !important;
    height: 100%; }
  .share-pass-login .share-pass-tab {
    display: block;
    padding-bottom: 10px;
    text-align: center; }
    .share-pass-login .share-pass-tab .share-tab {
      text-transform: uppercase;
      display: inline-block;
      width: 80px;
      color: #4A4A4A;
      cursor: pointer;
      padding: 12px;
      opacity: 0.6;
      letter-spacing: 0.5px;
      margin: 0 25px; }
      .share-pass-login .share-pass-tab .share-tab:hover {
        opacity: 0.8; }
      .share-pass-login .share-pass-tab .share-tab:focus, .share-pass-login .share-pass-tab .share-tab:active {
        -webkit-tap-highlight-color: transparent; }
    .share-pass-login .share-pass-tab .share-tab-active {
      color: #0680FD;
      font-weight: 600;
      border-bottom: 3px solid #CCE500;
      opacity: 1; }
      .share-pass-login .share-pass-tab .share-tab-active:hover {
        opacity: 1; }
  .share-pass-login .share-tab-content {
    height: 0;
    opacity: 0; }
  .share-pass-login .share-content-active {
    height: auto !important;
    opacity: 1 !important; }
  .share-pass-login .share-list-content {
    height: 0;
    opacity: 0;
    display: none; }
  .share-pass-login .share-list-active {
    height: auto !important;
    opacity: 1 !important;
    display: block !important; }

.share-pass-list {
  display: block;
  padding: 60px 20px;
  background: rgba(219, 224, 227, 0.1); }
  .share-pass-list .section-container {
    text-align: center; }
  .share-pass-list .pass-container {
    padding: 60px 0 0 0; }
    .share-pass-list .pass-container .indiv-row {
      display: block;
      overflow: hidden; }
      .share-pass-list .pass-container .indiv-row .text-left {
        text-align: left; }
      .share-pass-list .pass-container .indiv-row .text-right {
        text-align: right; }
      .share-pass-list .pass-container .indiv-row .heading {
        display: block;
        font-size: 18px;
        color: #4A4A4A;
        margin-bottom: 10px; }
      .share-pass-list .pass-container .indiv-row .left-content {
        float: left; }
        .share-pass-list .pass-container .indiv-row .left-content .custom-select {
          font-family: 'Gentona';
          border: 0;
          background-color: rgba(0, 0, 0, 0.05);
          background-image: url("../img/share-pass/down-chevron.svg");
          background-repeat: no-repeat;
          background-position: right 15px center;
          border-radius: 4px;
          color: #4A4A4A;
          height: 45px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          padding: 0 15px;
          width: 200px;
          letter-spacing: 0.3px;
          font-size: 14px; }
          .share-pass-list .pass-container .indiv-row .left-content .custom-select:focus, .share-pass-list .pass-container .indiv-row .left-content .custom-select:hover, .share-pass-list .pass-container .indiv-row .left-content .custom-select:active {
            outline: none; }
      .share-pass-list .pass-container .indiv-row .right-content {
        float: right; }
        .share-pass-list .pass-container .indiv-row .right-content .km-options {
          display: table;
          width: 100%;
          overflow: hidden;
          border-radius: 4px; }
          .share-pass-list .pass-container .indiv-row .right-content .km-options .tab {
            background: #eeeeef;
            padding: 14px 25px;
            display: table-cell;
            color: #9B9B9B;
            transition: all 0.1s ease;
            vertical-align: middle;
            text-align: center;
            cursor: pointer; }
          .share-pass-list .pass-container .indiv-row .right-content .km-options .ds-active {
            background: #CDDC39;
            color: #4A4A4A; }
  .share-pass-list .share-pass-card-list {
    display: block;
    opacity: 0;
    height: 0; }
    .share-pass-list .share-pass-card-list .slick-list {
      padding: 0 0 !important; }
    .share-pass-list .share-pass-card-list .indiv-pass {
      padding: 30px;
      outline: none;
      position: relative; }
      .share-pass-list .share-pass-card-list .indiv-pass .share-card {
        width: 260px;
        height: 160px;
        max-width: 100%;
        background-image: url("../img/share-pass/card-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #C1A582;
        opacity: 0.9;
        border-radius: 4px;
        position: relative;
        margin: auto;
        padding: 8px;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        -ms-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .border-layer {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: 1px solid rgba(8, 96, 0, 0.65);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.75), inset 0 0 0 0 #075200, 0 1px 0 0 rgba(255, 255, 255, 0.75); }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .indiv-row {
          padding: 11px; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .share-pass-lab {
          display: inline-block;
          float: left;
          vertical-align: middle;
          padding-top: 1px; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .icon-holder {
          float: right; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .mid-border {
          width: 100%;
          display: block;
          height: 1px;
          background: rgba(8, 96, 0, 0.65);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 0 0 0 #075200; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .share-info-wrapper {
          display: block;
          padding: 11px 0 7px 11px;
          position: relative; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .offer-postion {
          position: absolute;
          top: -7px;
          right: 11px; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .offer-price {
          width: 40px;
          height: 40px;
          background: #88ab5b;
          border-radius: 50%;
          padding: 2px; }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .offer-price .circle {
            border: 1px solid #FFFFFF;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            padding-top: 7px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .offer-price .lab {
            font-size: 10px;
            color: #FFFFFF;
            font-weight: 500;
            font-family: 'Roboto';
            text-transform: uppercase;
            padding-bottom: 2px; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .offer-price:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          border-width: 0 12px 12px 0;
          border-style: solid;
          border-color: #fafafa transparent; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .number-of-ride {
          font-family: 'Roboto';
          font-weight: 700;
          font-size: 24px;
          color: #000000;
          letter-spacing: 0;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
          text-align: left;
          padding-bottom: 10px; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .half-border {
          float: right;
          width: 67%; }
        .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container {
          display: block;
          text-align: left; }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-ride {
            margin-top: -2px;
            padding-left: 15px;
            float: left;
            display: inline-block;
            vertical-align: top; }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .pay-flat-lab {
            color: rgba(0, 0, 0, 0.5);
            font-size: 10px;
            font-family: 'Roboto';
            text-transform: uppercase;
            font-weight: 500; }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price {
            position: relative;
            display: block; }
            .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price .rupee-symbol {
              font-family: 'Roboto';
              font-size: 16px;
              position: absolute;
              left: -12px;
              top: 2px; }
            .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price .rupee-val {
              font-family: 'Roboto';
              font-weight: 700;
              font-size: 34px;
              color: rgba(0, 0, 0, 0.66);
              line-height: 32px; }
          .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month {
            display: inline-block;
            float: right;
            padding-top: 8px;
            padding-right: 11px;
            text-align: right; }
            .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price-wrapper {
              display: block; }
              .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price-wrapper .price {
                display: inline-block;
                margin-left: 5px;
                vertical-align: top;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.56); }
                .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price-wrapper .price .rupee-val {
                  letter-spacing: -0.66px; }
              .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price-wrapper .strike-price {
                display: inline-block;
                vertical-align: top;
                padding-top: 5px;
                text-decoration: line-through; }
                .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price-wrapper .strike-price .rupee-val {
                  font-size: 16px;
                  font-family: 'Roboto';
                  font-weight: 700;
                  color: rgba(0, 0, 0, 0.66);
                  letter-spacing: -0.66px;
                  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.56); }
            .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price .rupee-val {
              font-size: 24px; }
            .share-pass-list .share-pass-card-list .indiv-pass .share-card .price-container .price-per-month .price .rupee-symbol {
              left: 8px;
              top: 2px; }
      .share-pass-list .share-pass-card-list .indiv-pass:focus {
        outline: none; }
      .share-pass-list .share-pass-card-list .indiv-pass .red-band-pos {
        position: absolute;
        z-index: 4;
        right: 30px;
        top: -10px; }
        .share-pass-list .share-pass-card-list .indiv-pass .red-band-pos .red-block {
          border-bottom: 10px solid #A50920;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          height: 0;
          width: 65px;
          position: relative;
          left: -6px; }
      .share-pass-list .share-pass-card-list .indiv-pass .red-band {
        width: 80px;
        position: absolute;
        right: 36px;
        top: -9px;
        background: url("../img/share-pass/red-band-1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 55px;
        z-index: 2; }
        .share-pass-list .share-pass-card-list .indiv-pass .red-band .most-lab {
          color: #FFFFFF;
          font-weight: 400;
          font-size: 11px;
          text-align: center;
          width: 68px;
          letter-spacing: 0.5px;
          padding-top: 10px; }
      .share-pass-list .share-pass-card-list .indiv-pass .active-pass {
        transform: scale(1.1);
        opacity: 1; }
  .share-pass-list .share-pass-card-container {
    display: block;
    padding: 60px 0;
    position: relative;
    max-width: 1250px;
    margin: auto; }
    .share-pass-list .share-pass-card-container .content-pass-active {
      display: block;
      opacity: 1;
      height: auto; }
  .share-pass-list .slick-prev {
    position: absolute;
    left: 0;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: url("../img/prev-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .share-pass-list .slick-prev:focus {
      outline: none; }
    .share-pass-list .slick-prev:hover {
      opacity: 0.8; }
  .share-pass-list .slick-next {
    position: absolute;
    right: 0;
    font-size: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: url("../img/next-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .share-pass-list .slick-next:focus {
      outline: none; }
    .share-pass-list .slick-next:hover {
      opacity: 0.8; }
  .share-pass-list .notes-container {
    text-align: left; }
    .share-pass-list .notes-container .heading {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .share-pass-list .notes-container ol {
      list-style: unset;
      list-style-type: decimal;
      list-style-position: inside; }
      .share-pass-list .notes-container ol li {
        margin-bottom: 5px;
        color: #4A4A4A;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 20px; }

.share-pass-faq {
  padding: 60px 20px;
  background: #FFFFFF;
  line-height: 24px;
  width: 100%;
  display: block; }
  .share-pass-faq .section-container {
    text-align: center; }
  .share-pass-faq .faq-list {
    padding-top: 60px;
    width: 85%;
    margin: auto; }
  .share-pass-faq .faq-row {
    display: block;
    width: 100%;
    max-height: 315px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out; }
  .share-pass-faq .faq-max-height {
    max-height: 1500px;
    -webkit-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in; }
  .share-pass-faq .indiv-que {
    padding-bottom: 30px; }
  .share-pass-faq .padding-left {
    padding-left: 20px; }
  .share-pass-faq .padding-right {
    padding-right: 20px; }
  .share-pass-faq .wd-50 {
    width: 50%;
    float: left;
    text-align: left; }
    .share-pass-faq .wd-50 .que {
      font-size: 20px;
      font-weight: 400;
      color: #4A4A4A;
      padding-bottom: 10px;
      display: block;
      position: relative;
      padding-left: 25px; }
    .share-pass-faq .wd-50 .que:before {
      content: '\268A';
      position: absolute;
      left: 0;
      top: -5px;
      display: block; }
    .share-pass-faq .wd-50 .ans {
      font-size: 16px;
      font-weight: 300;
      color: #666666;
      opacity: 0.9;
      display: block;
      padding-left: 25px; }
  .share-pass-faq .see-more-holder {
    display: block;
    padding-top: 40px; }
  .share-pass-faq .more-faq {
    display: none;
    width: 100%;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s; }
  .share-pass-faq .see-more-btn {
    color: #0680FD;
    padding: 0 30px;
    height: 45px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 30px;
    background: #FFFFFF;
    border: 2px solid #0680FC;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    min-width: 200px; }
    .share-pass-faq .see-more-btn:hover {
      background: #0680FD;
      color: #FFFFFF; }

.offer-wrapper {
  position: relative;
  background: #F1F1F1;
  padding: 60px 20px 10px 20px; }
  .offer-wrapper .app-content {
    position: relative;
    height: 100%;
    padding: 0 5px 0 5px;
    width: 90%;
    margin: auto; }
  .offer-wrapper .section-container .section-sub-heading {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    font-weight: 400; }
  .offer-wrapper .wd-50 {
    width: 50%;
    height: 100%;
    float: left;
    position: relative; }
  .offer-wrapper .booking-img {
    max-width: 100%;
    max-height: 300px; }
  .offer-wrapper .book-btn {
    width: 250px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #CCE500;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }
    .offer-wrapper .book-btn:hover {
      background: #bdd400; }
    .offer-wrapper .book-btn:focus {
      outline: none; }
  .offer-wrapper .download-content {
    width: 100%;
    display: block;
    padding-left: 20px; }
    .offer-wrapper .download-content .info {
      color: rgba(0, 0, 0, 0.92);
      font-weight: 300;
      opacity: 0.9;
      line-height: 24px;
      margin-top: 30px;
      margin-bottom: 40px;
      font-size: 16px; }

.download-app {
  position: relative;
  background: #FDFDFD;
  height: 400px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1); }
  .download-app .app-content {
    position: relative;
    height: 100%;
    padding: 30px 0 0 0; }
  .download-app .wd-50 {
    width: 50%;
    height: 100%; }
  .download-app .booking-img {
    max-width: 100%;
    height: 100%; }
  .download-app .section-container .section-heading {
    padding-top: 30px; }
  .download-app .download-content {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50%;
    padding-left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .download-app .download-content .info {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 300;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 90px;
      font-size: 18px; }
  .download-app .download-link-wrapper .download-lab {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px; }
  .download-app .download-link-wrapper .download-link {
    display: inline-block;
    margin-right: 10px;
    max-width: 165px; }
    .download-app .download-link-wrapper .download-link img {
      max-width: 100%;
      height: 48px; }

.ola-features {
  background: #FFFFFF;
  padding: 30px 0;
  letter-spacing: 0.3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1; }
  .ola-features .features-wrapper {
    display: block;
    width: 100%; }
  .ola-features .indiv-feature {
    width: 33.33%;
    float: left;
    position: relative; }
    .ola-features .indiv-feature .feature-img {
      width: 45px;
      position: absolute;
      left: 0;
      top: 0; }
    .ola-features .indiv-feature .feature-content {
      margin-left: 65px;
      padding-right: 20px; }
      .ola-features .indiv-feature .feature-content .heading {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 2px; }
      .ola-features .indiv-feature .feature-content .info {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 24px;
        font-weight: 300; }

/* modal */
.modal_cotainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999; }
  .modal_cotainer .modal_content {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative; }
  .modal_cotainer .modal-position {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .modal_cotainer .video_container {
    max-height: 400px;
    width: 100%; }
    .modal_cotainer .video_container iframe {
      border: 0;
      max-width: 100%;
      max-height: 100%; }
  .modal_cotainer .modal-close {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    float: right;
    position: relative;
    top: 15px;
    right: 16px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    line-height: 26px;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none; }
    .modal_cotainer .modal-close:hover {
      background: white; }

@media only screen and (max-width: 768px) {
  body .secondary-header .mb-logo {
    width: 130px; }
    body .secondary-header .mb-logo .mb-logo-img {
      width: 130px; }

  .body-top-padding {
    padding-top: 50px; }

  .top-banner {
    height: 450px; }

  .section-container .section-heading {
    font-size: 28px; }
  .section-container .section-sub-heading {
    font-size: 16px; }

  .custom-carousel-wrapper .overlay {
    background: rgba(0, 0, 0, 0.4); }
  .custom-carousel-wrapper .overlay-left {
    display: none; }
  .custom-carousel-wrapper .nearby-banner {
    background-position: 50%; }
  .custom-carousel-wrapper .carousel-item {
    height: 450px; }
  .custom-carousel-wrapper .carousel-content {
    left: 20px;
    right: 20px;
    text-align: left;
    top: 50%; }
    .custom-carousel-wrapper .carousel-content .title {
      font-size: 36px;
      line-height: 46px; }
    .custom-carousel-wrapper .carousel-content .mix-title {
      font-size: 36px;
      line-height: 46px; }
      .custom-carousel-wrapper .carousel-content .mix-title h1 {
        font-size: 36px; }
    .custom-carousel-wrapper .carousel-content .sub-title {
      font-size: 18px;
      margin-bottom: 40px; }
    .custom-carousel-wrapper .carousel-content .hash-tag {
      margin-bottom: 50px; }
    .custom-carousel-wrapper .carousel-content br {
      display: none; }
    .custom-carousel-wrapper .carousel-content .book-btn {
      margin-right: 10px;
      height: 45px;
      line-height: 45px;
      padding: 0 12px;
      margin-bottom: 10px; }
    .custom-carousel-wrapper .carousel-content .watch-btn {
      width: auto;
      margin-left: 0;
      height: 45px;
      line-height: 45px;
      padding: 0 10px;
      font-size: 16px;
      margin-bottom: 10px; }

  .share-pass-info-wrapper {
    padding: 35px 20px; }
    .share-pass-info-wrapper .section-container .section-heading {
      font-size: 28px; }
    .share-pass-info-wrapper .section-container .section-sub-heading {
      max-width: 100%; }

  .share-pass-features {
    padding: 35px 20px; }
    .share-pass-features .section-container .section-heading {
      font-size: 28px; }
    .share-pass-features .features-row {
      padding-top: 0px; }
    .share-pass-features .padding-left-0 {
      padding-left: 20px !important; }
    .share-pass-features .padding-right-0 {
      padding-right: 20px !important; }
    .share-pass-features .wd-3 {
      width: 100%;
      padding-top: 30px; }
    .share-pass-features .features-row .img-holder {
      padding-bottom: 20px; }
      .share-pass-features .features-row .img-holder img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 200px;
        height: 135px; }
    .share-pass-features .features-row .info {
      padding: 20px 0 0 0; }
      .share-pass-features .features-row .info .msg {
        padding: 0 0; }

  .share-pass-login {
    padding: 35px 20px 30px 20px;
    max-height: none; }
    .share-pass-login .top-space {
      padding-top: 0; }
    .share-pass-login .wd-80 {
      width: 100%; }
    .share-pass-login .wd-50 {
      width: 100%; }
    .share-pass-login .section-container {
      text-align: center; }
    .share-pass-login .padding-right {
      padding-right: 0; }
    .share-pass-login .padding-left {
      padding-left: 0; }
    .share-pass-login .tab-list {
      text-align: left; }
      .share-pass-login .tab-list .tab {
        margin-top: 15px; }
        .share-pass-login .tab-list .tab label {
          font-size: 16px;
          margin-bottom: 5px; }
        .share-pass-login .tab-list .tab p {
          font-size: 14px; }
    .share-pass-login .position {
      text-align: center;
      right: 0;
      margin-top: 20px;
      height: 500px; }
    .share-pass-login .phone-moc {
      height: 500px; }
    .share-pass-login .tab-content-wrapper {
      top: 64px;
      left: 0;
      right: 0;
      margin: auto;
      width: 212px;
      height: 374px; }
    .share-pass-login .tab-content .img-holder {
      text-align: center; }

  .share-pass-faq {
    padding: 35px 20px; }
    .share-pass-faq .wd-50 {
      width: 100%;
      padding-bottom: 20px; }
    .share-pass-faq .padding-left {
      padding-left: 0;
      padding-bottom: 0; }
    .share-pass-faq .padding-right {
      padding-right: 0; }
    .share-pass-faq .faq-list {
      width: 100%;
      padding-top: 25px; }
    .share-pass-faq .faq-row {
      padding-top: 0;
      max-height: 410px; }
    .share-pass-faq .faq-max-height {
      max-height: none;
      overflow: auto; }

  .download-app {
    height: auto; }
    .download-app .app-content {
      padding: 35px 16px 35px 16px; }
    .download-app .wd-50 {
      width: 100%;
      display: block;
      text-align: left; }
    .download-app .booking-img {
      height: auto;
      max-height: 400px; }
    .download-app .download-content {
      display: block;
      position: static;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      width: 100%; }
      .download-app .download-content .info {
        margin-bottom: 40px; }
        .download-app .download-content .info br {
          display: none; }
      .download-app .download-content .download-link-wrapper .download-link {
        max-width: 95px;
        margin-bottom: 10px; }
        .download-app .download-content .download-link-wrapper .download-link img {
          height: 30px; }

  .offer-wrapper {
    height: auto;
    padding: 35px 20px; }
    .offer-wrapper .app-content {
      padding: 0; }
    .offer-wrapper .wd-50 {
      width: 100%;
      display: block;
      text-align: left; }
    .offer-wrapper .booking-img {
      height: auto;
      margin-bottom: 5px; }
    .offer-wrapper .section-container .section-sub-heading {
      font-size: 18px; }
    .offer-wrapper .download-content {
      padding-left: 0; }
      .offer-wrapper .download-content .info {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 16px; }
        .offer-wrapper .download-content .info br {
          display: none; }
    .offer-wrapper .book-btn {
      height: 45px;
      line-height: 45px; }

  .ola-features {
    padding: 25px 16px; }
    .ola-features .features-wrapper {
      display: block; }
    .ola-features .indiv-feature {
      width: 100%;
      margin-bottom: 20px;
      display: block; }
      .ola-features .indiv-feature .feature-content .heading {
        font-size: 16px; }
      .ola-features .indiv-feature .feature-content .info {
        font-size: 14px; }
        .ola-features .indiv-feature .feature-content .info br {
          display: none; }
    .ola-features .indiv-feature:last-child {
      margin-bottom: 0; }

  .modal_cotainer .modal_content {
    padding: 0 16px; }
    .modal_cotainer .modal_content .modal-position {
      width: 100%;
      display: block;
      padding: 16px; }

  .share-pass-list {
    padding: 35px 20px; }
    .share-pass-list .pass-container {
      padding-top: 20px; }
      .share-pass-list .pass-container .indiv-row .text-left {
        text-align: center; }
      .share-pass-list .pass-container .indiv-row .text-right {
        text-align: center; }
      .share-pass-list .pass-container .indiv-row .left-content {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        padding-bottom: 30px; }
      .share-pass-list .pass-container .indiv-row .right-content {
        display: block;
        float: none;
        width: 100%;
        text-align: center; }
    .share-pass-list .share-pass-card-container {
      padding: 20px 0; }
      .share-pass-list .share-pass-card-container .content-pass-active {
        pointer-events: all; }
    .share-pass-list .share-pass-card-list {
      pointer-events: none; }
    .share-pass-list .share-pass-card-list .indiv-pass .share-card {
      opacity: 1; }
    .share-pass-list .slick-prev {
      left: -10px;
      top: 50%;
      width: 30px;
      height: 30px; }
    .share-pass-list .slick-disabled {
      opacity: 0 !important; }
    .share-pass-list .slick-next {
      width: 30px;
      height: 30px;
      right: -10px;
      top: 50%; } }
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .custom-carousel-wrapper .carousel-content {
    left: 20px; }

  .share-pass-login .wd-80 {
    width: 90%; }

  .share-pass-faq .faq-list {
    width: 90%; }

  .download-app {
    padding: 0 20px; }

  .share-pass-features .features-row .img-holder img {
    max-width: 100%;
    max-height: 250px; }

  .share-pass-features .features-row .info .msg {
    padding: 0 0; }

  .download-app {
    padding: 0 20px; }

  .offer-wrapper .app-content {
    width: 95%; } }
@media only screen and (min-width: 993px) and (max-width: 1150px) {
  .custom-carousel-wrapper .carousel-content {
    left: 20px; }

  .download-app {
    padding: 0 20px; } }
@media only screen and (max-width: 350px) {
  .share-pass-list .share-pass-card-list .indiv-pass {
    padding: 20px; }
  .share-pass-list .slick-prev {
    left: -17px; }
  .share-pass-list .slick-next {
    right: -17px; } }
